@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/*para el fondo oscuro*/

.dark {
    background-color: #000;
    color: #fff;
  }
  
.light {
    background-color: #fff;
    color: #000;
  }




/*este es mi header en menu*/

.logo{
    max-height: 90px;
}

header {
    display: flex;
  /*  flex-flow: row wrap;*/
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 90px;
    padding: 10px 20px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    box-shadow: 6px 6px 10px #cecbcb;
    background-color: #a1d2ba;
   
}



ul {
    display: flex;
    list-style: none;
    font-family: 'Pacifico', cursive;
}


nav li {
    margin-right: 20px;
    
}

nav li:last-child {
    margin-right: 20px;
}

/*ul#menu {
    display: flex;     LEO: todo este codigo esta demas porque ya en la parte mobile estas asignando codigo al ul
    font-size: 7px;
}*/


li.menu-item a {
    padding: 5px;
    display: inline-block;
}


li.menu-item :hover {
    background-color: #fbfbfb;
    color: #0f0f0f;
}

.menuprincipal {
    display: none;

}

/* esto es para darl estilo al interruptor*/


/* The switch - the box around the slider */
.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    ;
   transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #303136;
  }
  
  input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  }













/* esto es para darl estilo al interruptor*/

/* hasta aqui estamos bien con el header y empezamos la section inicio*/



body{
    background-color: #fbfefc;
    line-height: 1.2;
}


.fotodeperfil{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: solid 7px;
    object-fit: cover;
    margin-top: 150px;
    margin-bottom: 40px;
    
}


main {
    max-width: 1200px;
    margin: auto;
}


h1, h2 {
    font-family: 'Courgette', cursive;
    color: #0f0f0f;
}



p {
    font-family: 'Lumanosimo', cursive;
    color: #0f0f0f;
}


.parrafo2 {
    font-family: 'Lumanosimo', cursive;
    color: #0f0f0f;
    font-size: 18px;
}

h1{
    font-size: 30px;
    text-align: center;
}


h2{
    font-size: 28px;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}


a {
    text-decoration: none;
    color: inherit;
}


.inicio{
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}



.inicio .p{
    font-size:18px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.descarga{
    background-color: #a1d2ba;
    color:  #000000;
    font-size: 20px;
    display: inline-block;
    padding: 10px 20px;
    border: solid 5px;
    border-color: #fbfefc;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
}


.descargacv {
    background: #a1d2ba;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
  }
  
  .descargacv:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
  .descargacv:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }

/*terminamos la section inicio y empezamos contacto*/


#contacto{
    min-height: 50vh;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 30px;
    border-radius: 70px;
    background-color: #ffffff;
    border: solid 10px;
}

h3{
    text-align: center;
    font-family: 'Pacifico', cursive;
    margin: 20%;
}

.hablemos , p{
    text-align: center;
    padding: 30px;
    border-radius: 100%;
}

.p{
    font-size:18px;
    margin-top: 20px;
 }


 .iconos ul{
    display: flex;
    margin-bottom: 100px;
    flex-flow: row;
    justify-content:center;
 }

 .iconos a img {
    max-width: 40%;
    height: auto;
    
    justify-content:space-between;
    align-items:center;

    margin-left: 30%;
    
 }


footer {
    background-color: #a1d2ba;
    color:  #fbfbfb;
    height: 90px;
}

footer p{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #ffffff;
}



@media (min-width: 1024px) {
   
    section#inicio {
        flex-direction: row;
        }

    article p {
        text-align: left;
    }

    ul.menu { font-size: 180%;}

    h1 {
        text-align: left;
        font-size: 45px;
        margin-top: 12%;
        }

    .logo {width: 110%;
        }

   .descarga{
        color:  #000000;
        font-size: 30px;
        display: inline-block;
        padding: 10px 20px;
    }

    .fotodeperfil{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        border: solid 7px;
        object-fit: cover;
        margin-top: 150px;
        margin-bottom: 40px;
    } 


    ul#menu {
        display: flex;
        font-size: 10px;
    }
    
    
}

@media screen and (max-width: 750px){
    
    .menuprincipal {
        display: flex;
        align-items: center;
        height: 90px;
        background-color: transparent;
        margin-right: 5%;
        padding: 3%;
        border: none;

    }

    .menu { 
        font-size: 150%;
    
    }


    nav {
        display: none;
        }
      
    /*  .mostrar-menu {   LEO: no es necesario
        display: block;
      }*/

      /* AJUSTE MENU MOBILE agrego toda esta nueva sección de código*/

      header.mostrar-menu {
        flex-wrap: wrap;
        height: 30vh;
        align-items: flex-start;
        transition: height 0.2s;
      }

      header.mostrar-menu nav {
        display: block;
        width: 100%;
        margin-bottom: 3%;
      }

      header.mostrar-menu ul {
        flex-direction: column;
        align-items: center;
      }



    /*probando el boton */

    #checkbox {
        display: none;
      }
      
      .toggle {
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        transition-duration: .5s;
      }
      
      .bars {
        width: 100%;
        height: 4px;
        background-color: rgb(176, 92, 255);
        border-radius: 4px;
      }
      
      #bar2 {
        transition-duration: .8s;
      }
      
      #bar1,#bar3 {
        width: 70%;
      }
      
      #checkbox:checked + .toggle .bars {
        position: absolute;
        transition-duration: .5s;
      }
      
      #checkbox:checked + .toggle #bar2 {
        transform: scaleX(0);
        transition-duration: .5s;
      }
      
      #checkbox:checked + .toggle #bar1 {
        width: 100%;
        transform: rotate(45deg);
        transition-duration: .5s;
      }
      
      #checkbox:checked + .toggle #bar3 {
        width: 100%;
        transform: rotate(-45deg);
        transition-duration: .5s;
      }
      
      #checkbox:checked + .toggle {
        transition-duration: .5s;
        transform: rotate(180deg);
      }

    /*interruptor codigo*/



}